<li id="list-<%= list.id %>">
  <div class="list-name">
    <%= list.name %> (<%= list.items_count %>)
  </div>
  <%= link_to 'show', list_path(list) %>
  <%= link_to 'edit', edit_list_path(list), remote: true %>
  <%= link_to 'delete', list_path(list), method: :delete, remote: true %>
  <ul id="list-<%= list.id %>-items">
    <% list.items.each do |item| %>
      <%= render item %>
    <% end %>
  </ul>
  <%= form_tag list_items_path(list), remote: true do %>
    <div class="form-group">
      <%= text_field_tag 'item[name]', nil, class: 'form-control', placeholder: 'Item name' %>
    </div>
    <div class="form-group">
      <%= submit_tag 'add item', class: 'btn btn-success' %>
    </div>
  <% end %>
</li>