<div id="list-<%= list.id %>" class="col-sm-4 col-md-4 col-lg-4 grid-list">
  <p class="lead list-head list-name">
    <%= list.name %> (<%= list.items_count %>)
  </p>
  <p class="text-center">
    <%= link_to edit_list_path(list), remote: true, class: 'btn btn-default btn-sm edit-btn' do %>
       <i class="fa fa-pencil fa-lg"></i>
    <% end %>
    <%= link_to list_path(list), method: :delete, remote: true, class: 'btn btn-danger btn-sm del-btn' do %>
      <i class="fa fa-trash-o fa-lg"></i>
    <% end %>
  </p>
  <ul id="list-<%= list.id %>-items">
    <% list.items.first(5).each do |item| %>
      <%= render item %>
    <% end %>
  </ul>
  <div class="text-center">
    <%= link_to list_path(list), class: 'btn btn-default btn-sm edit-btn' do %>
      <i class="fa fa-angle-double-right fa-lg"></i> More 
    <% end %> 
  </div>
  <%= render 'items/form' %>
</div>