<!DOCTYPE html>
<html>
  <head>
    <title>Listly</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page-wrap">
      <% unless notice.blank? %>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="alert alert-info alert-dismissable alert-fixed text-center">
                <%= notice %>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% unless alert.blank? %>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="alert alert-danger alert-dismissable alert-fixed text-center">
                <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= render 'partials/navbar' %>
      <%= yield %>
      <%= render 'partials/create_list_modal' if user_signed_in? %>
    </div>
    <footer class="main-background text-center site-footer">
      <p>2015. Copyrights Reserved</p>
    </footer>
  </body>
</html>